Repository openhwgroup/cv32e40s, pull requests merged in 2022-07, with the labels that each got.

#241 Merge from CV32E40X
  bhv/cv32e40s_rvfi.sv
  bhv/cv32e40s_rvfi_trace.svh
  bhv/cv32e40s_wrapper.sv
  rtl/cv32e40s_controller_fsm.sv
  rtl/cv32e40s_core.sv
  rtl/cv32e40s_ex_stage.sv
  rtl/cv32e40s_id_stage.sv
  rtl/cv32e40s_if_stage.sv
  rtl/cv32e40s_load_store_unit.sv
  rtl/include/cv32e40s_pkg.sv
  sva/cv32e40s_controller_fsm_sva.sv
  sva/cv32e40s_ex_stage_sva.sv
  sva/cv32e40s_id_stage_sva.sv
Labels: Component:RTL

#245 Merge from CV32E40X + PC hardening updates
  bhv/cv32e40s_wrapper.sv
  rtl/cv32e40s_controller.sv
  rtl/cv32e40s_controller_fsm.sv
  rtl/cv32e40s_core.sv
  rtl/cv32e40s_ex_stage.sv
  rtl/cv32e40s_id_stage.sv
  rtl/cv32e40s_if_stage.sv
  rtl/cv32e40s_pc_check.sv
  rtl/cv32e40s_sequencer.sv
  sva/cv32e40s_controller_fsm_sva.sv
  sva/cv32e40s_core_sva.sv
  sva/cv32e40s_ex_stage_sva.sv
  sva/cv32e40s_if_stage_sva.sv
  sva/cv32e40s_sequencer_sva.sv
Labels: Component:RTL

#246 Merge from CV32E40X
  bhv/cv32e40s_rvfi.sv
  bhv/cv32e40s_wrapper.sv
  bhv/include/cv32e40s_rvfi_pkg.sv
  bhv/include/cv32e40s_wrapper.vh
  bhv/rvfi_sim_trace.sv
Labels: Component:RTL

#250 Added parameter to disable itrace
  bhv/rvfi_sim_trace.sv
Labels: Component:Other

#254 Fix for PMPADDR
  bhv/cv32e40s_wrapper.sv
  rtl/cv32e40s_core.sv
  rtl/cv32e40s_cs_registers.sv
Labels: Component:RTL

#260 Fixed two bus related to the combination of debug mode and user level…
  rtl/cv32e40s_cs_registers.sv
Labels: Component:RTL

#264 Changed parity from odd to even for some of the achk and rchk signals
  docs/user_manual/source/xsecure.rst
Labels: Component:Doc

#266 Added notes on checksum behavior for sub-word transactions
  docs/user_manual/source/xsecure.rst
Labels: Component:Doc

#269 Updated exception code for Instruction Bus Fault and Instruction Pari…
  docs/user_manual/source/exceptions_interrupts.rst
  docs/user_manual/source/rvfi.rst
  docs/user_manual/source/xsecure.rst
Labels: Component:Doc

#271 Added integrity and pcharden bits in cpuctrl CSR. Redefined integrity…
  docs/user_manual/source/control_status_registers.rst
  docs/user_manual/source/pma.rst
  docs/user_manual/source/xsecure.rst
Labels: Component:Doc
