Repository openhwgroup/cv32e40s, pull requests merged in 2023-09, with the labels that each got.

#491 Merge from CV32E40X
  bhv/cv32e40s_core_log.sv
  bhv/cv32e40s_rvfi_data_obi.sv
  bhv/cv32e40s_wrapper.sv
  docs/user_manual/source/control_status_registers.rst
  rtl/cv32e40s_controller.sv
  rtl/cv32e40s_controller_fsm.sv
  rtl/cv32e40s_core.sv
  rtl/cv32e40s_cs_registers.sv
  rtl/cv32e40s_id_stage.sv
  rtl/include/cv32e40s_pkg.sv
  sva/cv32e40s_controller_fsm_sva.sv
  sva/cv32e40s_core_sva.sv
  sva/cv32e40s_cs_registers_sva.sv
  sva/cv32e40s_div_sva.sv
  sva/cv32e40s_ex_stage_sva.sv
  sva/cv32e40s_prefetch_unit_sva.sv
  sva/cv32e40s_rvfi_sva.sv
Labels: Component:RTL

#492 Corrected simulation trace documentation
  bhv/cv32e40s_rvfi.sv
  bhv/cv32e40s_rvfi_sim_trace.sv
  docs/user_manual/images/rvfi_trace.png
  docs/user_manual/source/rvfi.rst
  rtl/cv32e40s_controller_fsm.sv
  sva/cv32e40s_controller_fsm_sva.sv
Labels: Component:Doc

#495 Removed todo about stretching PC checks
  rtl/cv32e40s_pc_check.sv
Labels: Component:RTL

#493 Merge from e40x
  constraints/cv32e40s_core.sdc
  rtl/cv32e40s_alignment_buffer.sv
Labels: Component:RTL

#497 Updated cycle counts in user manual (merge from cv32e40x)
  docs/user_manual/source/pipeline.rst
Labels: Component:Doc

#496 Parameterize user mode features
  rtl/cv32e40s_cs_registers.sv
  rtl/cv32e40s_debug_triggers.sv
  rtl/cv32e40s_i_decoder.sv
  rtl/include/cv32e40s_pkg.sv
Labels: Component:RTL

#500 Fixed issue #499. Moved definition of PRIV_LVL_LOWEST to after the li…
  rtl/include/cv32e40s_pkg.sv
Labels: Component:RTL

#498 Parameterized SECURE features
  rtl/cv32e40s_data_obi_interface.sv
  rtl/cv32e40s_debug_triggers.sv
  rtl/cv32e40s_i_decoder.sv
  rtl/cv32e40s_instr_obi_interface.sv
Labels: Component:RTL

#503 Fixed hierarchical references in the wrapper.
  bhv/cv32e40s_wrapper.sv
Labels: Component:Other

#502 SVA updates (merge from cv32e40x)
  bhv/cv32e40s_wrapper.sv
  sva/cv32e40s_controller_fsm_sva.sv
  sva/cv32e40s_ex_stage_sva.sv
  sva/cv32e40s_id_stage_sva.sv
  sva/cv32e40s_rvfi_sva.sv
  sva/cv32e40s_sequencer_sva.sv
  yaml/csr.yaml.m4
Labels: Component:Other

#505 IF stage todo removal
  rtl/cv32e40s_alignment_buffer.sv
  rtl/cv32e40s_if_stage.sv
  rtl/cv32e40s_prefetch_unit.sv
Labels: Component:RTL

#507 Removed double check of !csr_flush_ack_q.
  rtl/cv32e40s_controller_fsm.sv
Labels: Component:RTL

#510 Updated cycle count for CSR instructions accessing mstateen0.
  docs/user_manual/source/pipeline.rst
Labels: Component:Doc

#509 Flushing pipeline on writes to mstateen0.
  bhv/cv32e40s_wrapper.sv
  rtl/cv32e40s_cs_registers.sv
  sva/cv32e40s_sequencer_sva.sv
Labels: Component:RTL
